.form-container {
    padding: 2em;
    border-radius: 5px;
    height: auto;
    width: 50vw; 
    //width: 600px;
    color: #fafafa;
    margin-top: 10vmin;
    box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.55);
    -webkit-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.55);
    -moz-box-shadow: 2px 4px 4px 2px rgba(0,0,0,0.55);

    background-color: rgba($color: #afb9d0, $alpha: .3);
    h3 {
        text-align: center;
        color: black;
    }

    form {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        min-height: 150px;
        color: #000;
        .form-group {
            margin: 1em;
        }
    }
}

/*
@media screen and (max-width: 900px) {
    .form-container {
        width: 600px;
    }
}


@media screen and (max-width: 720px) {
    .form-container {
        width: 550;
    }
}

@media screen and (max-width: 500px) {
    .form-container {
        width: 450px;
    }
}*/