
<div class="mx-auto  form-container">
    <h3>Retrieve sudoukus</h3>
    <form action="" class="form-group" [formGroup]="formGroup" (ngSubmit)="retrieve()">
        <div class="form-group">
            <!-- <label class="form-label" for="challengeId">Challenge id</label> -->
            <input class="form-control" id="challengeId" type="text" formControlName="challengeId" placeholder="Enter challenge id">
        </div>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary">Save</button>
        </div>

    </form>
</div>
