<div class="container justify-content-center ">
      <form>
            <h1>Create the new Team</h1>
            <label for="newTeam"><i class="bi bi-person"></i><b>Use Name</b></label>
            <input type="text" id="useName" placeholder="Name of use" [(ngModel)]="useName" name="useName" required="required" >
        
            <label for="newTeam"><i class="bi bi-people"></i>  <b>Team's Name</b> </label>
            <input type="text" id="teamName" placeholder="Name of team" [(ngModel)]="teamName" name="teamName" required="required">
           
            <hr>
            
        
            <button  class="registerbtn" (click) ="newTeam()"><i class="bi bi-check2"></i></button>   
        </form>
</div>
      

