$colorWhite: #fafbfb;
$colorLiteGrey: #9199a5;
$colorDarkGrey: #565d68;
$colorBlack: #1e2026;
$colorLite: #bbc3c9;
$colorBlue: #0068ff;
$colorBrown: #b17e4c;

$colorBG: #f8f9fb;
$colorRed: #ec407a;
$colorGreen: #17c993;

$colorDanger: #d32f2f;
$colorWarning: #fb8c00;
$colorGood: #4caf50;

.team {
    border-radius: 5px;
    // width: 320px;
    min-height: 200px;
    background-color: rgba($color: #dbdbdb, $alpha: 0.2);
    box-shadow: 0px 0px 4px 2px rgba($color: $colorLiteGrey, $alpha: 0.58);
    -webkit-box-shadow: 0px 0px 4px 2px rgba($color: $colorLiteGrey, $alpha: 0.58);
    -moz-box-shadow: 0px 0px 4px 2px rgba($color: $colorLiteGrey, $alpha: 0.58);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    .dateCr {
        display: flex;
        border-radius: 3px;
        padding: 4px ;
        background-color: rgba($color: #dffcff, $alpha: .3);

        .date-value {
            margin-left: auto; 
            background-color: rgba($color: #767d7d, $alpha: .4);
        }
    }

    .challengeRatings {
        margin: 20px;
        display: flex;
        justify-content: space-evenly;
        .won span {
            background-color: $colorGood;
            color: $colorWhite;
        }

        .lost span {
            background-color: $colorDanger;
            color: $colorLite
        }
    }

    button {
        &.inviteBtn {
            background-color: $colorGreen;
            font-weight: 650;
        }
    }
}