<div class="team-viewer-container mx-auto">
    <h2 class="text-center h2 my-2">Invite teams for a challenge</h2>

    <div class="searchbar d-flex my-3">
            <!-- <label for="searchInput">Enter team's name</label> -->
            <button class="btn" type="button"><i class="bi bi-search" aria-disabled="true"></i></button>
            <input 
                class="form-control" 
                id="searchInput" 
                type="search" 
                placeholder="Search a team by id" 
                class="form-control"
                [formControl]="toFilter"
            >
 
    </div>

    <div class="teams py-4">
        <app-team
            *ngFor="let team of teams$ | async; let i = index" 
            [teamName]="team.teamName"
            [creationDate]="team.creationDate"
            [challengeWon]="team.challengeWon"
            [challengeLost]="team.challengeLost"
        >
        </app-team>
    </div>







</div>