<div class="team-viewer-container mx-auto">
    <h2 class="text-center h2 my-2">Invite teams for a challenge</h2>

    <div class="searchbar d-flex my-3">
            <!-- <label for="searchInput">Enter team's name</label> -->
            <input 
                class="form-control" 
                id="searchInput" 
                type="search" 
                placeholder="Search a team by id" 
                class="form-control"
                [formControl]="toFilter"
            >

            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button> 
    </div>

    <div class="teams py-4">
        <app-team
            *ngFor="let team of teams$ | async" 
            [teamName]="team.teamName"
            [creationDate]="team.creationDate"
            [challengeWon]="team.challengeWon"
            [challengeLost]="team.challengeLost"
        >
        </app-team>
    </div>







</div>