

    <table>
        <tr>
            <td (click)="valueSelected(1)">1</td>
            <td (click)="valueSelected(2)">2</td>
            <td (click)="valueSelected(3)">3</td>
        </tr>
        <tr>
            <td (click)="valueSelected(4)">4</td>
            <td (click)="valueSelected(5)">5</td>
            <td (click)="valueSelected(6)">6</td>
        </tr>
        <tr>
            <td (click)="valueSelected(7)">7</td>
            <td (click)="valueSelected(8)">8</td>
            <td (click)="valueSelected(9)">9</td>
        </tr>
        <tr>
            <td class="invisible" style="visibility: hidden;"></td>
            <td (click)="valueSelected(0)"><mat-icon>delete</mat-icon></td>
            <td class="invisible"></td>
        </tr>
    </table>

