
<section class="wrapper">
  <div class="container-fluid">



    <div class="row">

      <div class="col-md-12">
        <div class="float-left">
          <h5>Lists Of Challenges</h5>
        </div>
      </div>

      <div class="col-md-12 mb-4">
        <button type="button" class="btn btn-sm btn-success" (click)="openModalCreateChallenge()">
          <i class="feather icon-plus mr-2"></i>Create new challenge</button>
      </div>

      <div class="col-md-3 mb-5" *ngFor = "let challenge of challengeCreateModel; let i = index">
        <div class="card text-white card-has-bg click-col" style="background-image:url('https://source.unsplash.com/600x900/?tech,street');">
          <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <h4 class="card-title mt-0 ">Challenge Name : <a class="text-white" herf="#">{{challenge?.challengeName}}</a></h4>
              <small>Create Date : <i class="far fa-clock"></i>{{challenge?.challengeDateCreate}}</small>
            </div>
            <div class="card-footer">

              <div class="row">
                <div class="col-md-12">
                  <div class="media">
                    <img class="mr-3 rounded-circle" src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png" alt="Generic placeholder image" style="max-width:50px">
                    <div class="media-body">
                      <h5 class="my-0 text-white d-block">{{challenge?.users?.username}}</h5>
                    </div>
                  </div>

                  <div class="list-group btn btn-outline-danger mt-5">
                    Delete Challenge
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

