.story-title {
    width: 60%;
  }
  td{
    border-left: solid 2px #000000;
    font-weight: 900;
  }
  .b-r{
    border-right: solid 2px #000000;
  }
  
  tr:nth-child(odd) {
    background-color: rgba(0, 0, 82, 0.567);
  }
  .actions{
    float: right;
  }
  .actionrow{
    width: 15%;
  }
  .bi-bell-fill{
    color: #000000;
  }
  .notif-number{
    background-color: red;
    color: white;
    font-size: 11px;
    height: 13px;
    width: 13px;
    font-weight:600;
  
    border-radius: 50%;
    height: 100%;
  
  }
  i{
    font-weight: 900;
    font-size: 18px;
  }
  a{
    height: 100%;
    padding-top: 0;
    padding-right: 0;
  }
  