html,body{
  background-color: rgb(230, 230, 230);
}
.story-title {
    width: 60%;
  }
  table{
    margin-left: 30%;
  }
  td{
    font-weight: 900;
    font-family: 'Nova Cut', cursive;
  }

  .actions{
    float: right;
  }
  .actionrow{
    width: 15%;
  }
  .bi-bell-fill{
    color: rgb(5, 96, 114);
  }
  .notif-number{
    background-color: rgb(177, 8, 8);
    color: white;
    font-size: 11px;
    height: 13px;
    width: 13px;
    font-weight:600;

    border-radius: 50%;
    height: 100%;

  }
  i{
    font-weight: 900;
    font-size: 18px;
  }
  a{
    height: 100%;
    padding-top: 0;
    padding-right: 0;
  }

  .ct{
    border-bottom: solid 2px rgb(5, 96, 114);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 23px;
  }
  .ct i{
    color: rgb(5, 213, 255);
    font-size: 20px;
  }
  .ct-b{
    border-top: solid 2px rgb(5, 96, 114);
  }

  .mt{
    border-bottom: solid 2px rgb(184, 3, 127);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
  }
  .mt i{
    color: rgb(184, 3, 127);
    font-size: 23px;
  }
  .mt-b{
    border-top: solid 2px rgb(184, 3, 127);
  }

  .at{
    border-bottom: solid 2px rgb(199, 82, 4);
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 20px;
  }
  .at i{
    color: rgb(199, 82, 4);
    font-size: 23px;
  }
  .at-b{
    border-top: solid 2px rgb(199, 82, 4);
  }

  .pageInfo{

    transform: rotate(-90deg);
    display: inline;
    position: absolute;
    top: 280px;
    left: -30px;
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 800;
    font-family: 'Great Vibes', Helvetica, sans-serif;
    float: left;
  }
