@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons";
html,body {
  align-self: center;
  justify-content: center;
}

.container {
  align-self: center;
  justify-content: center;
}


