<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <div class="container justify-align-center">
    <div class="story-title">
      <table class="table">
        <thead class="">
            <th scope="col"><i class="bi bi-box-arrow-in-right"></i> Requests</th>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td class="text-center b-r b-l">
              <div class="profile-pic">
                <img src={{img}} alt="Profile Picture">
              </div>
              {{request}}
              <div class="actions">
                <a id='handle-invitations' class="btn" routerLink="/manageTeams">
                  <i class="bi bi-person-check-fill"></i>
                </a>
                <a id='handle-invitations' class="btn" routerLink="/manageTeams">
                  <i class="bi bi-person-x-fill"></i>
                </a>
              </div>
            </td>
          </tr>
          <tr class="text-center"><i class="bi bi-caret-down-fill"></i>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="story-title">
      <table class="table">
        <thead class="">
            <th scope="col"><i class="bi bi-hourglass-split"></i>Pending invitations</th>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let inv of invitations">
            <td class ="b-r b-l">
              {{inv}}
              <div class="actions">
                  <i class="bi bi-three-dots"></i>
              </div>
            </td>
          </tr>
          <tr class="text-center"><i class="bi bi-caret-down-fill"></i></tr>
        </tbody>
      </table>
    </div>

    <div class="story-title">
      <table class="table">
        <thead class="">
            <th scope="col"><i class="bi bi-people-fill"></i>Team's Members</th>
        </thead>
        <tbody>
          <tr class="text-center" *ngFor="let member of members">
            <td class="b-r b-l">{{member}}
              <div class="actions">
                <a id='handle-invitations' class="btn" routerLink="/manageTeams">
                  <i class="bi bi-dash-circle"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</html>
