header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    background-color: rgb(121, 183, 228);
    font-size: 2em;
    font-weight: 700;
    color: #121213;
    text-transform: uppercase;
    padding: 1em;
    width: 100%;
}